[Desktop Entry]
Version=1.0
Type=Application
Name=Android Studio Stable
Icon=${HOME}/Apps/Android-Studio-Stable/bin/studio.png
Exec=${HOME}/Apps/Android-Studio-Stable/bin/studio.sh
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-studio
