[Desktop Entry]
Version=1.0
Type=Application
Name=Android Studio Stable
Icon=/home/dayfun/Apps/Android-Studio-Stable/bin/studio.png
Exec=/home/dayfun/Apps/Android-Studio-Stable/bin/studio.sh
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-studio
