[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA
Icon=${HOME}/Apps/IntelliJ-2017-2.1/bin/idea.png
Exec="${HOME}/Apps/IntelliJ-2017-2.1/bin/idea.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea
