[Desktop Entry]
Version=1.0
Type=Application
Name=IntelliJ IDEA
Icon=/home/dayfun/Apps/IntelliJ-2017.1.3/bin/idea.png
Exec="/home/dayfun/Apps/IntelliJ-2017.1.3/bin/idea.sh" %f
Comment=The Drive to Develop
Categories=Development;IDE;
Terminal=false
StartupWMClass=jetbrains-idea
